<div class="container text-left">
  <div class="row">
    <div class="col-md-6">
      <h1>USOS v0.1 </h1>
      <button (click)="dodajOsobeShow()" class="btn btn-success">Dodaj osobê</button>
      <table style="width:100%;" class="table">
        <thead>
          <tr>
            <th scope="col">Lp.</th>
            <th scope="col">Imiê</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Stypendium</th>


          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let obj of kolekcja; let i = index">
            <td>{{i+1}}</td>
            <td>{{obj.imie}}</td>
            <td>{{obj.nazwisko}}</td>
            <td>{{obj.stypendium}}</td>
            <td><button (click)="edytujObiekt(obj)" (click)="dodajOsobeShow()" class="btn btn-danger">Edytuj</button></td>
            <td><button (click)="usunObiekt(obj)" class="btn btn-primary">Usuñ</button></td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td><strong>£¹cznie:</strong></td>
            <td>{{sStypendium}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="showDodajOsobe" class="col-md-6 form-group">
      <h1>Dodawanie osoby </h1>
      <label>Imie: </label><input [(ngModel)]="obiekt.imie" class="form-control" /><br />
      <label>Nazwisko: </label><input [(ngModel)]="obiekt.nazwisko" class="form-control" /><br />
      <label>Stypendium: </label><input [(ngModel)]="obiekt.stypendium" class="form-control"  /><br />
      <button (click)="dodaj()" (click)="dodajOsobeShow()" (click)="sumaStypendium()" class="btn btn-primary" *ngIf="!trybEdycji">Dodaj osobê</button>
      <button (click)="zatwierdz()" (click)="dodajOsobeShow()" class="btn" *ngIf="trybEdycji">Zatwierdz</button>
    </div>
  </div>
</div>
