<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>USOS v0.1.1 </h1>
      <a class="btn btn-primary" [routerLink]="['/students/create']">Dodaj osobę</a>
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Lp.</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Stypendium</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students; let i = index">
            <th scope="row">{{i+1}}.</th>
            <td>{{student.FirstName}}</td>
            <td>{{student.LastName}}</td>
            <td>{{student.Grant}}</td>
            <td><button class="btn btn-sm btn-primary" (click)="edit(student)">Edytuj</button></td>
            <td><button class="btn btn-sm btn-danger" (click)="delete(student)">Usuń</button></td>
          </tr>
        </tbody>
          <tfoot>
            <tr>
              <td></td>
              <td></td>
              <td><strong>Łącznie:</strong></td>
              <td>{{sum}}</td>
            </tr>
          </tfoot>
      </table>
    </div>
    <div class="col-md-6 ">
      
      </div>
  </div>
</div>
